<%- include('partials/header') -%>
  <div class="container-fluid">

    <h1>
      <%= keyPost.Title%>
    </h1>
    <p>
      <%= keyPost.Body%>
    </p>
  </div>
  <%- include('partials/footer') -%>